version: '3.8'

services:
  backend:
    build: ./beacon-backend
    ports:
      - "8000:8000"
    env_file:
      - ./beacon-backend/.env

  frontend:
    build: ./beacon-net
    ports:
      - "5173:80"
    depends_on:
      - backend
